
bin/
Debug/
net8.0/

obj/
Debug/
net8.0

*.user
*.suo
*.userosscache
*.sln.docstates

logs/

*.log


appsettings.Development.json
appsettings.Local.json
secrets.json


ProsjektOppgave_AdeleTjoennaas.sln
ProsjektOppgave_AdeleTjoennaas.http
launchSettings.json
sqldata/log.txt


bin/
Debug/
net8.0/

obj/
Debug/
net8.0

*.user
*.suo
*.userosscache
*.sln.docstates

logs/

*.log


appsettings.Development.json
appsettings.Local.json
secrets.json




sqldata/log.txt
sqldata/
sqldata/log.txt
sqldata/
